html, body, #root, #calendar {
  height: 100%;
  margin: 0;
}

#calendar {
  display: flex;
  flex-flow: column;
}

#calendar > h1 {
  text-align: center;
}

#calendar > div {
  flex: 1 1 auto;

  display: flex;
  flex-flow: row;
}

#calendar > div:nth-child(2) {
  flex: 0 1 auto;
}

#calendar > div > div {
  flex: 1 1 auto;
}

#calendar > div > div.notInMonth {
  background-color: #999999;
}

#calendar > div > div > h2 {
  text-align: center;
}

#calendar > div > div > div.selected {
  background: #ff8888;
}
