html, body, #root, #app, #calendar, #event-detail {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-flow: row;
}

#calendar, #event-detail {
  width: 50%;

  flex: 1 1 auto;
}

#event-detail.hidden {
  display: none;
}

#calendar {
  display: flex;
  flex-flow: column;
}

#calendar > h1 {
  text-align: center;
}

#calendar > div {
  height: 15%;

  flex: 1 1 auto;

  display: flex;
  flex-flow: row;
}

#calendar > div:nth-child(2) {
  height: auto;

  flex: 0 1 auto;
}

#calendar > div > div {
  width: 14%;

  flex: 1 1 auto;

  box-sizing: border-box;
}

#calendar > div > div.today {
  border: 5px red solid;
}

#calendar > div > div.notInMonth {
  background-color: #999999;
}

#calendar > div > div > h2 {
  text-align: center;
}

#calendar > div > div > div.selected {
  background: #ff8888;
}
